<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Step 2: Join or Create a Lobby</h1>
    <button onclick="createLobby()">Create Lobby</button>
    <input type="text" id="roomKey" placeholder="Enter Room Key">
    <button onclick="joinLobby()">Join Lobby</button>
    <script>
        function createLobby() {
            window.location.href = `/lobby?roomKey=NEW`;
        }

        function joinLobby() {
            const roomKey = document.getElementById("roomKey").value;
            window.location.href = `/lobby?roomKey=${roomKey}`;
        }
    </script>
</body>
</html>
