<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Step 3: Lobby</h1>
    <p>Room Key: <%= roomKey %></p>
    <h2>Players:</h2>
    <ul>
        <% for (let player in players) { %>
            <li><%= players[player] %></li>
        <% } %>
    </ul>
    <button onclick="startGame()">Start Game</button>
    <script>
        function startGame() {
            window.location.href = "/game";
        }
    </script>
</body>
</html>
