//? src/styles/AuthPage.scss

// importer les variables a partir de index.scss
@import "./index.scss";

// Styles spécifiques à la page Login
.auth-page {
  width: 300px;
  max-width: 400px;
  height: 500px;
  max-height: 600px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--card);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Titre
  h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: var(--font);
    animation: slideDown 0.5s ease-in-out;
  }

  // Saisie utilisateur
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    background-color: --background;
    color: var(--primary);
  }

  // Bouton de validation (Connexion / Inscription)
  button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--font);
    animation: pop 0.3s ease-in-out;
  }

  // Section de l'avatar
  .avatar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--card);
    padding: 10px;
    border-radius: 8px;

    // Contenu de la section
    .avatar-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      // Visualisation de l'avatar
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--primary);
        border-radius: 15%;
      }
    }
  }
}
