//? src/styles/HomePage.scss

// importer les variables a partir de index.scss
@import "./index.scss";

// Bouton de retour
.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 5px;
  background-color: var(--card);
  width: 40px;
  height: 40px;
  border: none;
  border: 2px solid var(--font);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25%;

  // Flèche de retour
  img {
    width: 100%;
    height: 100%;
  }
}

// Styles spécifiques à la page Profile
.profile-page {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  // Titre
  h1 {
    font-size: 28px;
    color: var(--font);
    margin-bottom: 20px;
  }

  // Section de l'avatar
  .avatar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--card);
    padding: 10px;
    border-radius: 8px;

    // Titre de la section
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.4em;
      color: var(--font);
    }

    // Contenu de la section
    .avatar-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      // Visualisation de l'avatar
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--primary);
        border-radius: 15%;
      }

      // Bouton de modification
      button {
        width: 70%;
        height: 50px;
        padding: 5px 5px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background-color: var(--primary);
        color: var(--font);
      }
    }
  }

  // Section du nom d'utilisateur
  .username-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--card);
    padding: 10px;
    border-radius: 8px;

    // Titre de la section
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.4em;
      color: var(--font);
    }

    // Contenu de la section
    .username-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      // Nom d'utilisateur
      input {
        width: 70%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid var(--font);
        border-radius: 8px;
      }

      // Bouton de modification
      button {
        width: 50px;
        height: 40px;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background-color: var(--primary);
        color: var(--font);
      }
    }
  }

  // Bouton de déconnexion
  .logout-button {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--font);
  }
}
