@import './index.scss';

.back-button {
  // top left corner of the screen
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 5px;
  background-color: $foreground;
  width: 40px;
  height: 40px;
  border: none;
  border: 2px solid $font-primary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25%;

  img {
    width: 100%;
    height: 100%;
  }
}

.profile-page {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    h1 {
      font-size: 28px;
      color: $font-primary;
      margin-bottom: 20px;
    }
  
    .avatar-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      background-color: $foreground;
      padding: 10px;
      border-radius: 8px;

      label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.4em;
        color: $font-primary;
      }
  
      .avatar-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $btn-primary;
          border-radius: 15%;
        }
    
        button {
          width: 70%;
          height: 40px;
          padding: 5px 5px;
          font-size: 16px;
          border: none;
          border-radius: 8px;
          background-color: $btn-primary;
          color: $font-primary;
        }
      }
    }
  
    .username-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      background-color: $foreground;
      padding: 10px;
      border-radius: 8px;

      label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.4em;
        color: $font-primary;
      }

      .username-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        input {
          width: 70%;
          height: 40px;
          padding: 10px;
          font-size: 16px;
          border: 1px solid $font-primary;
          border-radius: 8px;
        }
    
        button {
          width: 50px;
          height: 40px;
          padding: 10px 15px;
          font-size: 16px;
          border: none;
          border-radius: 8px;
          background-color: $btn-primary;
          color: $font-primary;
        }
      }
    }

    .logout-button {
      width: 100%;
      height: 40px;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      background-color: $btn-primary;
      color: $font-primary;
    }
  }
  