@import './index.scss';


/* Styles globaux */
.room-page {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $font-primary;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Input pour rejoindre une room */
  .room-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $foreground;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;

    input {
      width: 70%;
      max-width: 400px;
      padding: 15px;
      border: 2px solid $btn-primary;
      border-radius: 8px;
      background-color: $foreground;
      color: $font-primary;
      font-size: 1rem;
    }

    button {
      width: 20%;
      background-color: $btn-primary;
      color: $font-primary;
      border: none;
      padding: 15px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 8px;
    }
  }

  /* Conteneur des boutons */
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;

    button {
      background-color: $foreground;
      color: $font-primary;
      border: none;
      border: 2px solid $btn-primary;
      padding: 15px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 8px;
      text-align: center;
    }
  }

  /* Liste des joueurs */
  .room-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    // border: 2px solid $btn-primary;

    .room-title {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: $foreground;
      height: 100px;
      width: 100%;
      margin-bottom: 30px;
      border-radius: 8px;

      h1 {
        margin: 0;
      }
    }

    .room-players {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      background-color: $foreground;
      padding: 10px;
      border-radius: 8px;

      h2 {
        margin: 0;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        width: 80%;

        li {
          background-color: $btn-primary;
          color: $font-primary;
          padding: 10px;
          border-radius: 6px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          gap: 15px;
          position: relative;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 15%;
            background-color: $foreground;
          }

          .username {
            font-size: 1rem;
            font-weight: 600;
          }

          .remove-button {
            position: absolute;
            right: 10px; 
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }

    .start-button {
      background-color: $btn-primary;
      color: $font-primary;
      border: none;
      padding: 15px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 8px;
      width: 100%;
    }
  }
}
